body {
  margin: 10;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
}

.topnav a {
  text-decoration: none;
}

.topnav a:hover {
  color: #ffccff;
  text-decoration: none;
}

.topnav h1 {
  color: white;
  text-align: left;
  padding: 5px 16px;
}

.topnav h1:hover {
  color: #ffccff;
}

.topnavLinks a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 21px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnavLinks a:hover {
  color: #ffccff;
}

.topnavLinks a.active {
  background-color: #ffccff;
  color: black;
}

.asidelinks {
  float: right;
  z-index: 1;
  width: 140px;
  top: 100px;
  right: 30px;
  position: fixed;
  margin-left: 10px;
  font-size: 17px;
  background: #f2f2f2;
  padding: 15px 20px;
}

.asidelinks a {
  color: black;
  display: block;
}

.asidelinks a:hover {
  color: black;
  text-decoration: underline;
}

.main {
  margin-right: 220px;
  margin-left: 30px;
  padding-left: 30px;
  padding-top: 80px;
}

.main p {
  text-align: justify;
}

}
